name: Run Linter and Tests
on:
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: Running CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
          aws-region: us-east-2

      - name: Step name
        uses: aws-actions/aws-secretsmanager-get-secrets@v1
        with:
          secret-ids:
            ADMIN_FRANCHISE_ACTION
          parse-json-secrets: true
      
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          cache: false
      
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54
      
      - name: Run tests
        run: make test